.forMobile {
    display: none;
    visibility: hidden;
}

.main {
    margin: 20px 15%;
}
.main h2 {
    font-weight: bold;
    color: var(--blueGray);
}
.main div {
    color: var(--darkMidGray);
}
.sliderWrap {
    margin: 0 15%;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.sliderInnerWrap {
    width: 65%;
    /* border: 1px solid #979797; */
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
}

.sliderOption {
    width: 30%;
    box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 200px;
}

.icon {
    font-size: 20px;
    margin: 0 5px;
    color: var(--blueGray) !important;
}

.infoWrap {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    margin: 0 20px;
}
.infoWrap h2 {
    color: var(--blueGray);
    font-weight: bold;
}

.BtnSeller {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    margin: 20px 20px;
    padding: 10px;
    justify-content: center;
    background-color: var(--blueGray);
    border-radius: 8px;
}
.BtnSeller div {
    margin: 0 5px;
    color: white;
}
.BtnNo {
    display: flex;
    border: 1px solid var(--pinkish);
    align-items: center;
    margin: 20px 20px;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
}
.BtnNo div {
    margin: 0 5px;
    color: var(--pinkish);
}

.BtnIconNo {
    color: var(--pinkish) !important;
    font-size: 20px;
}
.BtnIconSell {
    color: white !important;
    font-size: 20px;
}

@media (max-width: 800px) {
    .forPC {
        display: none !important;
    }
    .forMobile {
        display: block !important;
        visibility: visible;
    }
    .nav {
        width: 100%;
        height: 60px;
        background-color: var(--blueGray);
    }
    .navInner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 60px;
        padding: 0 5%;
    }
    .navInner div {
        color: white;
        font-weight: bold;
    }
    .navInner img {
        width: 15px;
    }
    .navInner img:hover {
        cursor: pointer;
    }

    .hide {
        visibility: hidden;
    }
    .category {
        font-size: 18px;
    }
    .mainMob img {
        width: 100% !important;
        height: 500px;
        object-fit: cover !important;
    }
    .infoMob {
        /* border: 1px solid black; */
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 20px;
    }
    .nameMob {
        font-size: 16px;
        font-weight: bold;
        color: var(--blueGray);
    }
    .addressMob {
        font-size: 14px;
        color: var(--darkMidGray);
        /* font-weight: bold; */
    }
    .priceMob {
        font-size: 20px;
        font-weight: bold;
        color: var(--blueGray);
    }
    .itemInfo {
        display: flex;
        /* border: 1px solid var(--lightGray); */
        justify-content: space-between;
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
        padding: 15px 25px;
    }
    .itemInfo div {
        font-size: 15px;
        color: var(--darkMidGray);
        /* font-weight: bold; */
    }
    .itemInfoWrap {
        margin-top: 5px;
    }
    .overviewMob h3 {
        font-size: 25px;
        color: var(--blueGray);
        padding: 0px 30px;
        margin-top: 100px;
    }
    .overviewMob div {
        padding: 0px 30px;
        font-size: 15px;
        color: var(--darkMidGray);
    }
    .photoGallery h3 {
        font-size: 25px;
        color: var(--blueGray);
        padding: 0px 30px;
        margin-top: 100px;
    }
    .photoCont {
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0px;
    }
    .photoCont img {
        width: 30%;
        height: 200px;
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--lightGray);
    }
    .contactWrap h3 {
        font-size: 25px;
        color: var(--blueGray);
        padding: 0px 30px;
        /* margin-top: 100px; */
    }

    .contactWrap {
        /* border: 1px solid var(--blueGray); */
        margin-top: 130px;
        margin-bottom: 75px;
    }
    .contactWrap img {
        /* padding: 20px 30px; */
    }
    .contactWrapInner {
        display: flex;
        align-items: center;
        padding: 20px 30px;
        border: 1px solid var(--lightGray);
        box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        margin: 0px 20px;
    }
    /* .contactWrapInner div {
        font-size: 18px;
        color: var(--blueGray);
        font-weight: bold;
        margin-left: 20px;
    } */
    .imgInfo {
        font-size: 15px;
        color: var(--blueGray);
        font-weight: bold;
        margin-left: 20px;
    }
}

@media (max-width: 450px) {
    .photoCont img {
        height: 130px;
    }
    .mainMob img {
        width: 100% !important;
        height: 350px;
        object-fit: cover !important;
    }
}
